html,
body {
  font-family: 'Futura', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #D2E8F6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 4rem 0 2rem 0;
}

h1,
h2 {
  color: #3273dc;
  font-weight: bold;
}

.navbar .is-current {
  color: #3273dc;
}

.navbar-brand {
  flex-grow: 0.05;
}

.navbar-brand .navbar-item {
  flex: 1;
}

.navbar-brand img {
  margin-right: .5rem;
}

main,
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.scroll-wrapper {
  overflow-x: hidden;
}

figure {
  margin: 0;
  position: relative;
}

.text p {
  margin-bottom: 2rem;
}

.text pre {
  margin-bottom: 3rem;
}

footer {
  padding: 4rem 1rem;
}

.hero {
  padding: 6rem 0;
  font-size: 2rem;
  line-height: 3rem;
}

.api-actions {
  margin: 0;
  padding-top: 1.75rem;
}

.api-actions li {
  list-style: none;
  display: block;
  margin: .25rem 0;
}

.api-actions .select,
.api-actions .select select {
  width: 100%;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.9rem;
  padding-bottom: 4.75rem;
}

.aside p {
  margin-bottom: 2rem;
}

.description {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
    width: 100vw;
  }

  main,
  footer {
    width: 100vw;
    overflow-x: hidden;
    padding: 1rem;
  }

  .hero {
    padding-top: 2rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  .api-actions li {
    display: block;
    margin-bottom: 1rem;
  }

  .api-actions li button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  figure svg {
    width: 200%;
  }
}
