@charset "utf-8";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/form/shared";
@import "~bulma/sass/form/checkbox-radio";
@import "~bulma/sass/form/tools";
@import "~bulma/sass/form/select";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/dropdown";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

@import "./variables.scss";

html, body {
  font-family: 'Futura', 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #D2E8F6;
}

.home {
  background-color: white;
}

* {
  box-sizing: inherit;

  &:before, &:after {
    box-sizing: inherit;
  }
}

h1 {
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 4rem 0 2rem 0;
}

h3 {
  margin: 2rem 0 1rem 0;
}

h1, h2, h3 {
  color: $mainColor;
  font-weight: bold;
  scroll-margin: 5rem;
}

blockquote {
  line-height: 3rem;
  padding-left: 1rem;
  background-color: bulmaRgba($mainColor, .1);
  border-left: .5rem solid $mainColor;
}

.navbar-icon {
  width: 37.5px;
  height: 25px;
  margin-right: .5rem;

  svg {
    height: 100%;
  }
}

.navbar {
  .version {
    font-weight: bold;
    margin-left: .5rem;
    color: $mainColor;
  }
  .is-current {
    color: $mainColor;
  }
}

.navbar-brand {
  .navbar-item {
    flex: 1;
  }

  img {
    margin-right: .5rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

figure {
  margin: 0;
  position: relative;
}

.text {
  max-width: 768px;

  p {
    margin-bottom: 2rem;
  }

  pre {
    margin-bottom: 3rem;
  }

  ul {
    padding-left: 1rem;
    li {
      list-style: initial;
    }
  }
}

footer.container {
  padding: 2rem 1rem;
}

.hero {
  padding: 6rem 0 3rem 0;
  background-color: #C6EDFC;

  strong {
    color: $mainColor;
  }

  .api-actions {
    padding-top: 1.4rem;
  }
}

.hero-content {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.api-actions {
  margin: 0;
  padding-top: 2rem;

  li {
    list-style: none;
    display: block;
    margin: .25rem 0;
  }

  .field {
    margin: .5rem 0;
  }

  .select {
    width: 100%;

    select {
      width: 100%;
    }
  }
}

.example {
  margin-bottom: 4rem;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.9rem;
  padding-bottom: 4.75rem;

  &.form-wrapper {
    padding: 0 0 0 2rem;
    margin-top: -2rem;
    .label {
      font-size: .9rem;
    }
  }

  &.start {
    justify-content: start;
  }

  p {
    margin-bottom: 2rem;
  }

  ul {
    list-style: initial;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
}

header > h1 {
  margin-bottom: 0;
}

header > p {
  margin-bottom: 2rem;
}

.chords {
  figcaption {
    text-align: center;
    font-weight: bold;
    code {
      background-color: transparent;
    }
  }
}

.documentation {
  margin-bottom: 2rem;
}

.controls {
  margin: 2rem 0 0 0;
  padding: 0 1rem;
  line-height: 1.5rem;
  text-align: center;

  .modes .radio {
    margin-right: 1rem;
    @each $type, $color in map-get($colors, 'modes') {
      &.mode-#{$type} {
        color: $color;
      }
    }
  }
}

.boxes {
  padding-top: 2rem;
  &.no-padding {
    padding-top: 0;
  }
  .radio {
    display: block;
    margin: 0;
    line-height: 2rem;
  }
}

.fretboard-events {
  &.show-moving-dot {
    .dot-moving {
      visibility: visible;
    }
  }
  .dot-moving {
    visibility: hidden;
  }
}

.code, .documentation {
  p, ul, ol {
    margin-bottom: 2rem;
  }
  pre {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
    width: 100vw;

    &.has-navbar-fixed-top {
      padding-top: 3.25em;
    }
  }

  .container {
    width: 100vw;
    overflow-x: hidden;
    padding: 1rem;
  }

  .text {
    max-width: 100%;
  }

  .hero {
    padding-top: 2rem;
  }

  .hero-content {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  .api-actions li {
    display: block;
    margin-bottom: 1rem;

    button {
      width: 100%;
    }
  }

  .column {
    overflow-y: auto;
  }

  .controls {
    text-align: left;
    .modes .radio {
      display: block;
      margin: 0;
      line-height: 2.5rem;
      font-size: 1.2rem;
    }
  }

  .modes-wrapper {
    form {
      display: flex;
      flex-direction: column;
      .modes-selector-wrapper {
        order: 2;
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  figure svg {
    width: 200%;
  }
  .chords figure svg {
    width: 100%;
  }
}
