<!doctype html>
<html class="has-navbar-fixed-top">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>

<body>
	<%= partials.nav('playback') %>
	<main>
		<h1>Examples / Playback</h1>
		<section class="columns">
			<div class="column is-three-quarters">
				<div class="scroll-wrapper ">
					<figure id="notation"></figure>
					<div id="audio"></div>
					<figure id="fretboard"></figure>
				</div>
			</div>
			<aside class="column aside">
				<p>This example highlights the <strong>diatonic seventh arpeggios</strong> in the C major scale played in eight position.</p>
				<p>Every arpeggio spells the <strong>seventh chord</strong> built by stacking thirds on top of every degree of the major scale, according to the scale structure (e.g. <strong>C-E-G-B</strong>, <strong>D-F-A-C</strong>, ...).</p>
			</aside>
		</section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
	  .tags
	  .bodyTags
	  .filter((tag) => tag.attributes.src.startsWith('playback'))
	  .join('')
	%>
</body>

</html>
